body{

    background-color:blanchedalmond;
    
}

@media (min-width: 576px) {

    .pesan1{
        border-radius: 50px;
        width: 750px;
        height: 50px;
        color: sienna;
        background-color: wheat;
        border: 3px solid slategray;
        padding: 50px 0;
        text-align: center;
        font-size: 38pt;
        margin: auto;
        margin-top: 20pt;
        
    }
    .pesan2
    {
        border-radius: 50px;
        width: 750px;
        height: 50px;
        color: sienna;
        background-color: wheat;
        border: 3px solid slategray;
        padding: 50px 0;
        text-align: center;
        font-size: 38pt;
        margin: auto;
        margin-top: 20pt;
    }
    }

@media (min-width: 768px) {

.pesan1{
    border-radius: 50px;
    width: 700px;
    height: 50px;
    color: purple;
    background-color: skyblue;
    border: 3px solid blue;
    padding: 50px 0;
    text-align: center;
    font-size: 34pt;
    margin: auto;
    margin-top: 20pt;
    
}
.pesan2
{
    border-radius: 50px;
    width: 700px;
    height: 50px;
    color: purple;
    background-color: skyblue;
    border: 3px solid blue;
    padding: 50px 0;
    text-align: center;
    font-size: 34pt;
    margin: auto;
    margin-top: 20pt;
}
}

@media (min-width: 992px) {

    .pesan1{
        border-radius: 50px;
        width: 650px;
        height: 50px;
        color: crimson;
        background-color: whitesmoke;
        border: 3px solid green;
        padding: 50px 0;
        text-align: center;
        font-size: 32pt;
        margin: auto;
        margin-top: 20pt;
        
    }
    .pesan2
    {
        border-radius: 50px;
        width: 650px;
        height: 50px;
        color: crimson;
        background-color: whitesmoke;
        border: 3px solid green;
        padding: 50px 0;
        text-align: center;
        font-size: 32pt;
        margin: auto;
        margin-top: 20pt;
    }
    }